.field--widget-bert table th:first-of-type,
.field--widget-bert table tr td:first-of-type {
  display: none;
}

.field--widget-bert .tabledrag-toggle-weight-wrapper ~ table thead th:first-of-type,
.field--widget-bert .tabledrag-toggle-weight-wrapper ~ table tbody td:first-of-type {
  display: table-cell;
}

.draggable-table td:first-child ~ td,
.draggable-table th:first-child ~ th {
  padding-left: 1rem;
}

.field--widget-bert .form-type--entity-autocomplete,
.field--widget-bert .form-type--select {
  margin: 0;
}
